.myevalbtn {
  background-color: #4965d6;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  margin: 5px;
  border-radius: 9px;
  border: 1px solid #000000;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 8px 55px;
  text-decoration: none;
}
.myevalbtn:hover {
  background-color: #6f83d6;
  color: white;
  text-decoration: none;
}
.myevalbtn:active {
  position: relative;
  top: 1px;
  text-decoration: none;
}
.closed {
  background-color: #3D3E49;
}
.course {
  cursor: default;
}
.homecontainer {
  position: relative;
  top: 10%;
  left: 0%;
}
.coursescontainer {
  position: absolute;
  top: 0%;
  right: 0%;
}
.evaluationscontainer {
  position: absolute;
  top: 0%;
  left: 0%;
}
ul {
  list-style-type: none;
}
